/* Creates fixed full-screen background image
html {
  background: url(/assets/portland_night.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/

/* Color Palette 
http://paletton.com/#uid=54Q0u0kkZm3kZm36OziDFb6DYbg
*/

body {
  background: #672A74;
  color: #fff;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: center;
}

h1, h2, h3 h4, h5, h6 {
  font-weight: 300;
  margin-top: 0;
}

.searchResult h1,
.searchResult p {
  margin: 0;
}

.searchResult {
  vertical-align: top;
  
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
  /*height: 100px;*/
  /*max-width: 700px;*/
  margin: 0 auto 20px auto;
  text-align: left;
}

.searchResult-info {
  display: inline-block;
  text-align: left;
  margin-left: 30px;
}

.resultImage {
  float: left;
}

.goingButton {
  display: inline-block;  
  /*float: right;*/
  width: 80px;
  height: 90px;
  cursor: pointer;
  line-height: 100px;
  overflow: visible;
}

/* The text input box where user will enter location */
.searchField {
  font-size: 1.2em;
  color: #fff;
  text-align: center;
  display: block;
  background: #672A74;
  outline: 0;
  border: 0;
  border-bottom: 3px solid #DFAFC2;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  transition: width 1s;
}

.searchField:focus {
  width: 80%;
}

.loginoutLink {
  float: right;
  margin-right: 20px;
  cursor: pointer;
}
