/* Creates fixed full-screen background image
html {
  background: url(/assets/portland_night.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/

/* Color Palette 
http://paletton.com/#uid=54Q0u0kkZm3kZm36OziDFb6DYbg
*/

body {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #333;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: center;
}

header {
  background: #672A74;
  color: #fff;
  height: 120px;
  text-align: center;
  position: relative;
}

.loginoutLink {
  position: absolute;
  top: 0px;
  right: 20px;
  cursor: pointer;
}

header h1 {
  line-height: 120px;
}

/* footer styles */

footer {
  height: 150px;
  background: #672A74;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
	transition: all .2s ease-in;    
}

.no-touchevents footer a:hover {
  color: #30b9db;
  border-bottom: 1px solid #30b9db;    
}

.icons-container a {
		margin: 0 10px;
		position: relative;
		transition: all .2s ease-in;
		text-decoration: none;
		border: 0;
}

.icons-container a,
.icons-container a:visited {
  color: #fff;
}

.no-touchevents .icons-container a:hover {
	top: 3px;
}

/* this style is only applied when there are no search results */
.pushFooterToBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* end footer styles */

.loginoutLink {
  margin-top: 10px;
  border-bottom: 1px solid #fff;
	transition: all .2s ease-in;
}

.no-touchevents .loginoutLink:hover {
  color: #30b9db;
  border-bottom: 1px solid #30b9db;    
}

h1, h2, h3 h4, h5, h6 {
  font-weight: 300;
  margin-top: 0;
}

.searchResult h1,
.searchResult p {
  margin: 0;
}

.searchResult {
  position: relative;
  vertical-align: top;
  width: 80%;
  min-width: 280px;
  max-width: 700px;
  /*display: flex;
  justify-content: space-between;*/
  /*align-items: center;*/
  /*height: 100px;*/
  /*max-width: 700px;*/
  margin: 0 auto 20px auto;
  text-align: left;
  padding: 1em;
  border: 2px solid #97345C;
  border-radius: 5px;
}

.searchResult h1 {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 20px;
}

.searchResult-info {
  display: inline-block;
  text-align: left;
  /*width: 60%;*/
  white-space: nowrap;
  overflow: hidden;
}

.searchResult-info-text {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.resultImage {
  display: inline-block;
  margin-right: 20px;
}

.going-section {
  position: absolute;
  top: 15px;
  right: 0;
  vertical-align: top;
  margin: 1em;
}

.goingButton {
  /*width: 100px;*/
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 5px;
}

.isGoing-true {
  border: 3px solid #30b9db;
}

.isGoing-false {
  border: 3px solid #DFAFC2;
}

.no-touchevents .isGoing-true:hover {
  background-color: #30b9db;
  color: #fff;
}
.no-touchevents .isGoing-false:hover {
  background-color: #DFAFC2;
  color: #fff;
}

.numberGoing {
  margin-top: 10px;
  margin-bottom: 10px;
}

.searchForm {
  margin: 20px;
}

/* The text input box where user will enter location */
.searchField {
  font-size: 1.2em;
  color: #333;
  text-align: center;
  display: block;
  outline: 0;
  border: 0;
  border-bottom: 3px solid #DFAFC2;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  transition: width 1s;
}

.searchField:focus {
  width: 80%;
}

@media (max-width: 550px) {
  .going-section {
    position: static;
    display: block;
    text-align: center;
  }

  .goingButton {
    margin: 0 auto;
    width: 50%;
  }
}

@media (max-width: 350px) {
  header h1 {
    font-size: 1.6em;
  }
}
